.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}

.logo {
    width: 700px;
    margin-bottom: -115px;
}

h2 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, white, rgba(255, 0, 0, 0.957));
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.712);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    width: 250px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#error-message {
    color: #d9534f;
    background: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 48%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

button:hover {
    background: #333;
}

.register-text {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}

.register-link {
    color: #2c7be5;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}