body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, white, red);
    margin: 0;
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 700px;
}

.container{
    background: rgba(255, 255, 255, 0.712);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}


input{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    margin-top: 10px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #333;
}

.link-btn{
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.link-btn:hover{
    background: #333;
}

#error{
    color: #d9534f;
    background: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    display: none;
}